Flask==2.3.3
Flask-Mail==0.9.1
Flask-SocketIO==5.3.4
python-socketio==5.9.0
python-engineio==4.7.1
Werkzeug==2.3.7
firebase-admin==6.2.0
google-cloud-firestore==2.12.1
google-cloud-storage==2.10.0
python-dotenv==1.0.0
Jinja2==3.1.2
click==8.1.7
itsdangerous==2.1.2
MarkupSafe==2.1.3
